<%= form_for(@member_class) do |f| %>
<table>
  <tr>
    <td><%= f.label "Full Name"%></td>
    <td><%= f.text_field :full_name %></td>
  </tr>
  <tr>
    <td><%= f.label "Day of Birth"%></td>
    <td><%= f.date_select :birthday, start_year:1900, end_year:Date.today.year-17  %></td>
  </tr>
  <tr>
    <td><%= f.label "Email" %></td>
    <td><%= f.text_field :email %></td>
  </tr>
  
</table>
<br>
<div class="actions", style="text-align: center">
    <%= f.submit @name,:class => "btn btn-large btn-primary"%>
    <%= f.button "Cancel", :type => "reset", :class => "btn btn-large btn-primary" %>
    <%= f.button "Back", :type=>"button", :class =>"btn btn-large btn-primary", onclick: "back_to_classes()" %>
  </div>
<% end %>
<script type="text/javascript">
    function back_to_classes(){
        window.location = "http://192.168.10.101:3000/member_classes";
    }
</script>