<%= form_for(@building) do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% @building.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :building_name %><br>
    <%= f.text_field :building_name %>
  </div>
  <div class="field">
    <%= f.label :latitute %><br>
    <%= f.text_field :latitute %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :delete_flag %><br>
    <%= f.check_box :delete_flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
